<!doctype html>
<html lang="en">
  <head>	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BUILDBOARD FURNISHERS</title>
   
    <!-- fabicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <!-- slick slider -->
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/easy-responsive-tabs.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
   
    
  </head>
  <body>

<header class="main-head">
  <div class="top-head">
    <div class="head-container">
      <div class="top-head-wrap">
        <div class="head-info">
          <ul>
            <li>
              <i><img src="images/pin.svg" alt=""></i>
              <span>Store Location</span>
            </li>
            <li>
              <i><img src="images/email.svg" alt=""></i>
              <a href="mailto:support@buildboardfurnishers.com">support@buildboardfurnishers.com</a>
            </li>
          </ul>
        </div>
        <div class="gift-list">
          <ul>
            <li><a href="#url">Gift Cards</a></li>
            <li><a href="#url">FAQs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-head">
    <div class="head-container">
      <nav class="navbar navbar-expand-lg navbar-light">
       
        <div class="search-sec">
          <a id="click" href="#url"><i><img src="images/loupe.svg" alt=""></i></a>

          <div class="search-form">
            <form>
              <div class="form-input">
                <input type="text" placeholder="SEARCH">
                <input type="submit" value="submit">
              </div>
            </form>
          </div>

        </div>

        <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li class="menu-item-has-children current-menu-item">
            <a href="catagory.html">category</a>
            <ul class="sub-menu">
                <li><a href="#url">category 1</a></li>
                <li><a href="#url">category 1</a></li>
                <li><a href="#url">category 1</a></li>
                <li><a href="#url">category 1</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#url">page</a>
            <ul class="sub-menu">
                <li><a href="#url">page 1</a></li>
                <li><a href="#url">page 1</a></li>
                <li><a href="#url">page 1</a></li>
                <li><a href="#url">page 1</a></li>
            </ul>
          </li>
           <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>

        <div class="shop-list">
          <ul>
            <li><a class="fancybox" href="#one">
             <i><img src="images/user.svg" alt=""></i>
            </a></li>
            <li><a href="#url">
             <i><img src="images/heart.svg" alt=""></i>
            </a></li>
            <li><a href="#url">
             <i><img src="images/cart.svg" alt=""></i>
             <span>0</span>
            </a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<section class="banner-section">
  <img src="images/banner-image.jpg" alt="">
  <div class="banner-cont container">
    <div class="banner-wrap">
        <h1>PRODUCT DETAILS</h1>
    </div>
  </div>
</section>

<section class="product-details cmn-gap">

    <div class="product-sec" id="app">
        <div class="container container-space">
          <div class="row product-row">
            <div class="col-md-6">
              <img class="product-img" :src="bannerImage" alt="" />
              <div class="product-thumbnails">
                <ul>
                  <li v-for="(image, index) in productImages" :class="[activeClass == index ? 'thumbnail-active': '']" :key="index"><img @click="currentThumnail(image.imageUrl, index)" :src="image.imageUrl" alt="" /></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <h2 class="my-4">{{productTitle}} - {{productPrice}}</h2>
              <h3 class="my-3">
                <svg width="36" height="36" viewBox="0 0 24 24">
                  <path d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" />
                </svg>
                {{cart}}
              </h3>
              <h4 v-if="stockAvailability">Stock Available</h4>
              <h4 v-else="stockAvailability">Oops!! Out Of Stock</h4>
              <h3 class="my-3">Details</h3>
              <ul v-for="detail in productChecks">
                <li>{{detail}}</li>
              </ul>
              <button type="button" class="btn btn-outline-primary btn-lg btn-block btn-custom-color" @click="addToCart">
                ADD TO CART
              </button>
            </div>
          </div>

          <div class="prodcut-description">
              <h3>Product Description</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>
          </div>

        </div>
      </div>

</section>

<section class="related-products product-section">
    <div class="container">
        <h2>Related Produucts</h2>

        <div class="product-row row">
            <div class="col-lg-4 col-md-6 product-col">
              <div class="product-card text-center">
                <div class="product-image">
                 <a href="#url" style="background: url(images/product01.jpg) no-repeat center center;"></a>
                  <span>-10%</span>
                </div>
                <div class="product-cont">
                  <h4>Cobi Coffe table</h4>
                  <span> <del>$150.00</del> $140.00</span>
                </div>
                <a class="cmn-btn" href="#url">add to cart</a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 product-col">
              <div class="product-card text-center">
                <div class="product-image">
                  <a href="#url" style="background: url(images/product02.jpg) no-repeat center center;"></a>
                  <span>-10%</span>
                </div>
                <div class="product-cont">
                  <h4>Cobi Coffe table</h4>
                  <span> <del>$150.00</del> $140.00</span>
                </div>
                <a class="cmn-btn" href="#url">add to cart</a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 product-col">
              <div class="product-card text-center">
                <div class="product-image">
                  <a href="#url" style="background: url(images/product03.jpg) no-repeat center center;"></a>
                  <span>-10%</span>
                </div>
                <div class="product-cont">
                  <h4>Cobi Coffe table</h4>
                  <span> <del>$150.00</del> $140.00</span>
                </div>
                <a class="cmn-btn" href="#url">add to cart</a>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 product-col">
                <div class="product-card text-center">
                  <div class="product-image">
                   <a href="#url" style="background: url(images/product01.jpg) no-repeat center center;"></a>
                    <span>-10%</span>
                  </div>
                  <div class="product-cont">
                    <h4>Cobi Coffe table</h4>
                    <span> <del>$150.00</del> $140.00</span>
                  </div>
                  <a class="cmn-btn" href="#url">add to cart</a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 product-col">
                <div class="product-card text-center">
                  <div class="product-image">
                    <a href="#url" style="background: url(images/product02.jpg) no-repeat center center;"></a>
                    <span>-10%</span>
                  </div>
                  <div class="product-cont">
                    <h4>Cobi Coffe table</h4>
                    <span> <del>$150.00</del> $140.00</span>
                  </div>
                  <a class="cmn-btn" href="#url">add to cart</a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 product-col">
                <div class="product-card text-center">
                  <div class="product-image">
                    <a href="#url" style="background: url(images/product03.jpg) no-repeat center center;"></a>
                    <span>-10%</span>
                  </div>
                  <div class="product-cont">
                    <h4>Cobi Coffe table</h4>
                    <span> <del>$150.00</del> $140.00</span>
                  </div>
                  <a class="cmn-btn" href="#url">add to cart</a>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 product-col">
                <div class="product-card text-center">
                  <div class="product-image">
                   <a href="#url" style="background: url(images/product01.jpg) no-repeat center center;"></a>
                    <span>-10%</span>
                  </div>
                  <div class="product-cont">
                    <h4>Cobi Coffe table</h4>
                    <span> <del>$150.00</del> $140.00</span>
                  </div>
                  <a class="cmn-btn" href="#url">add to cart</a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 product-col">
                <div class="product-card text-center">
                  <div class="product-image">
                    <a href="#url" style="background: url(images/product02.jpg) no-repeat center center;"></a>
                    <span>-10%</span>
                  </div>
                  <div class="product-cont">
                    <h4>Cobi Coffe table</h4>
                    <span> <del>$150.00</del> $140.00</span>
                  </div>
                  <a class="cmn-btn" href="#url">add to cart</a>
                </div>
              </div>
  
              <div class="col-lg-4 col-md-6 product-col">
                <div class="product-card text-center">
                  <div class="product-image">
                    <a href="#url" style="background: url(images/product03.jpg) no-repeat center center;"></a>
                    <span>-10%</span>
                  </div>
                  <div class="product-cont">
                    <h4>Cobi Coffe table</h4>
                    <span> <del>$150.00</del> $140.00</span>
                  </div>
                  <a class="cmn-btn" href="#url">add to cart</a>
                </div>
              </div>
            
          </div>

    </div>
</section>

<footer class="fooetr-sec">
  <div class="footer-top">
    <div class="container">
        <div class="footer-top-wrap">
          <div class="sign-up-cont">
            <span><img src="images/email.svg" alt=""></span>
            <h4>Sign Up For Funio Emails</h4>
            <p>
              Plus, hear about the latest and greatest from our 
              family of brands!
            </p>
          </div>
          <div class="sign-up-input">
            <div class="sign-up-form">
              <form>
                <div class="form-wrap">
                  <div class="form-input">
                    <input type="email" placeholder="Your Email Address">
                  </div>
                  <div class="form-input">
                    <input type="submit" value="Subscribe">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="footer-mid cmn-gap">
    <div class="container">
      <div class="footer-mid-wrap">
        <div class="footer-mid-col">
          <h5>Categories</h5>
          <ul>
            <li><a href="#url">Category1</a></li>
            <li><a href="#url">Category2</a></li>
            <li><a href="#url">Category3</a></li>
            <li><a href="#url">Category4</a></li>
            <li><a href="#url">Category5</a></li>
          </ul>
        </div>
        <div class="footer-mid-col">
          <h5>Quick Links</h5>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#url">Shop</a></li>
            <li><a href="#url">Blog</a></li>
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer-mid-col">
          <h5>CUSTOMER Service</h5>
          <ul>
            <li><a href="#url">FAQs</a></li>
            <li><a href="#url">Return/Exchange Policy</a></li>
            <li><a href="#url">Terms & Conditions</a></li>
            <li><a href="#url">Contact Us</a></li>
            <li><a href="#url">Privacy Policy</a></li>
            <li><a href="#url">Return Form</a></li>
          </ul>
        </div>
        <div class="footer-mid-col">
          <h5>FIND IT FAST</h5>
          <ul>
            <li><a href="#url">About us</a></li>
            <li><a href="#url">Shop</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-row">
        <p>Copyright© 2021 BuildBoard Furnishers. All Rights Reserved.</p>
       <span><img src="images/payment.jpg" alt=""></span> 
      </div>
    </div>
  </div>
</footer>

<div class="myModal" id="one" style="display:none">
  <div claas="modal-cont">
    <div class="row modal-row">
        <div class="col-md-12 modal-col">
          <div class="modal-form">
            <h3>Log in</h3>

            <form>
              <div class="row form-row">
                <!-- <div class="col-md-12 form-col">
                  <div class="form-input">
                    <input type="text"placeholder="Name *">
                  </div>
                </div> -->
                <div class="col-md-12 form-col">
                  <div class="form-input">
                    <input type="text" placeholder="Phone Number*">
                  </div>
                </div>
                <div class="col-md-12 form-col">
                  <div class="form-input">
                    <input type="password" placeholder="Password">
                  </div>
                </div>
                <div class="col-md-12 form-col">
                  <div class="form-input">
                    <input type="submit" value="Log in">
                  </div>
                </div>
              </div>
            </form>

            <a class="fancybox" href="#two">Don't have account Please Sign Up</a>

          </div>
        </div>
    </div>
  </div>
</div>

<div class="myModal" id="two" style="display:none">
  <div claas="modal-cont">
    <div class="row modal-row">
        <div class="col-md-12 modal-col">
          <div class="modal-form">
            <h3>Sign Up</h3>

            <form>
              <div class="row form-row">
                <div class="col-md-12 form-col">
                  <div class="form-input">
                    <input type="text"placeholder="Name *">
                  </div>
                </div>
                <div class="col-md-12 form-col">
                  <div class="form-input">
                    <input type="text" placeholder="Email Or Phone Number*">
                  </div>
                </div>
                <div class="col-md-12 form-col">
                  <div class="form-input">
                    <input type="password" placeholder="Password">
                  </div>
                </div>
                <div class="col-md-12 form-col">
                  <div class="form-input">
                    <input type="submit" value="Sign Up">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Jquery-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<!-- slick slider -->
<script src="js/slick.js"></script>
<script src="js/easyResponsiveTabs.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/common.js"></script>


</body>
</html>	