@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* font-family: 'Josefin Sans', sans-serif; */



body{
  margin:0;
  padding:0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale; 
  width: 100%; 
  font-weight: 400;
  color: #000000; 
  font-size: 16px; 
  line-height: 1.5;
}

p{margin: 0 0 22px 0;}
p:last-child{margin-bottom:0;}

h1,h2,h3,h4,h5,h6{margin:0 0 25px 0;padding:0;}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child{
	margin-bottom: 0;
}

h1{ font-size: 50px; line-height: 1.2; }

h2{ font-size: 36px; line-height: 1.2; }

h3{ font-size: 30px; line-height: 1.2; }

h4{ font-size: 20px; line-height: 1.2; }

h5{ font-size: 14px; line-height: 1.2; font-weight: 700; }

a{margin:0;padding:0;text-decoration:none !important;outline:none !important; color: #feb620;
-webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
a:hover{color: #e92f11;}

img{max-width: 100%;}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
select{
	background-color:#fff;
	width: 100%; 
  -webkit-appearance:none;
  appearance:none;
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
	-ms-border-radius: 5px;
  border-radius: 5px; 
  color: #000; 
  border: 2px solid #777777; 
  height: 51px;
  padding: 0 30px;
  font-size: 13px;
  outline: none;
  box-shadow: none;
}
textarea{
	background-color:#fff;
	-webkit-appearance:none;
  appearance:none;
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
	-ms-border-radius: 5px;
  border-radius: 5px; 
  border: 2px solid #777777; 
  padding: 12px 16px;
	width: 100%;
  height: 150px;
  outline: none;
  box-shadow: none;
}

select{
	 border: 1px solid #b8b8b8; 
	 width: 100%; padding: 0 11px;
	background: url(images/arrow_bottom.svg) no-repeat calc(100% - 16px) center #fff;
	background-size: 18px; 
	padding-right: 40px ; outline: none ; -webkit-appearance: none; 
	-moz-appearance: none; -ms-appearance: none; -o-appearance: none; 
	appearance: none; 
} 
select::-ms-expand{ 
	display: none;
}

input[type="submit"]{
  background:transparent;
  border: 2px solid #777777;
  color: #fff; height: 43px;
  -webkit-appearance:none;
	appearance:none;-webkit-border-radius: 0; 
	-moz-border-radius: 0;-ms-border-radius: 0;
	border-radius: 0; padding-left: 30px; padding-right: 30px; 
  text-transform: uppercase; cursor: pointer;
  color: #000; font-size: 13px;
  outline: none;
}
input[type="submit"]:hover{
  background: #000;
  border-color: #000;
  color: #fff;
}


::-webkit-input-placeholder{opacity:0.7; color: #000;}
:-ms-input-placeholder{opacity:0.7;color: #000;}
::-moz-placeholder{opacity:0.7;color: #000;}
:-moz-placeholder{opacity:0.7;color: #000;}



/* images alignment for wordpress content pages */
.alignright { float: right;  margin: 0 0 20px 20px;}
.alignleft { float: left;margin: 0 20px 20px 0; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; margin-bottom: 20px;  float: none;}



/* custom checkbox */
.form_input_check{position: relative; margin: 0; padding-left: 40px;}
.form_input_check span{
  margin: 0;
  padding: 0;
}
.form_input_check input[type="checkbox"]{visibility: hidden; display: none;}
.form_input_check input[type="checkbox"] + span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 22px;
  height: 22px;
  border: 2px solid #feb620;
  background: #fff;
}
.form_input_check input[type="checkbox"] + span::after{
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 22px;
  height: 22px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: url(images/checked.svg) no-repeat center center;
  background-size: 15px;
}
.form_input_check input[type="checkbox"]:not(:checked)  + span::after{
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* .form_input_check input[type="checkbox"]:checked + span::before {
  
} */
.form_input_check input[type="checkbox"]:checked + span:after {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);
 
}


/* custom radio */
.form_input_radio{position: relative; margin: 0; padding-left: 30px;}
.form_input_radio span{
  margin: 0;
  padding: 0;
}
.form_input_radio input[type="radio"]{visibility: hidden; display: none;}
.form_input_radio input[type="radio"] + span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 22px;
  height: 22px;
  border: 2px solid #000000;
  border-radius: 100%;
  background: #fff;
}
.form_input_radio input[type="radio"] + span::after{
  content: '';
  width: 12px;
  height: 12px;
  background: #4b0049;
  position: absolute;
  top: 6px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.form_input_radio input[type="radio"]:not(:checked)  + span::after{
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
/* .form_input_radio input[type="radio"]:checked + span::before {
  
} */
.form_input_radio input[type="radio"]:checked + span:after {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);
 
}
/* custom radio end */




/* navbar*/
.navbar-brand{
	padding: 0;
	margin: 0;
}
.navbar{
background: none; margin: 0; padding: 0; 
min-height: inherit; height: inherit;
border:none; -webkit-border-radius: 0; -moz-border-radius: 0;
-ms-border-radius: 0;-o-border-radius: 0;border-radius: 0;
}
.navbar-nav li{
  position: relative;
  list-style: none;
}
.navbar-nav > li{ margin: 0 34px; padding: 0; position: relative;}
.navbar-nav > li:last-child{margin-right:0;}
.navbar-nav > li:first-child{margin-left:0;}
.navbar-nav > li > a{ color: #000; font-size: 13px; text-transform: uppercase; font-weight: 600; }
.navbar-nav > li.current-menu-item > a, 
.navbar-nav > li > a:hover, 
.navbar-nav > li.menu-item-has-children:hover > a{color:#ff0000;}

.navbar-nav > li:nth-child(2){ margin-right: 130px; }

.navbar-nav > li:nth-child(3){ margin-left: 130px; }

/* navbar submenu*/
.sub-menu{background: #fff;position: absolute;top: 100%;left: 0;z-index: 1000;
	display: none;border: 1px solid rgba(0, 0, 0, 0.15); -webkit-border-radius: 0; -moz-border-radius: 0;
  -ms-border-radius: 0; -o-border-radius: 0;border-radius: 0; width: 140px; padding: 0;}
  
.sub-menu > li > a{color: #425964; display: block; width: 100%; padding: 5px 10px;}

.sub-menu > li{width: 100%; display: block; }

.sub-menu > li > a:hover, 
.sub-menu > li.menu-item-has-children:hover > a{background:#ff0000;  color: #fff;}

.navbar-nav > li:last-child > .sub-menu{ right: 0; left: inherit;padding:0; }

/* 2nd level submenu */
.navbar-nav > li > .sub-menu .sub-menu{
 position: absolute;
 left: 100%;
 top: 0;
}

.cmn-gap{
	padding-top: 80px;
	padding-bottom: 80px;
}

.cmn-gap-bottom{ padding-bottom: 80px; }

.cmn-gap-top{ padding-top: 80px; }

.head-container{ max-width: 1440px; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; }

.top-head .head-info ul{ 
  list-style: none; 
  padding-left: 0; 
  display: flex;
  margin-bottom: 0;
}

.top-head .head-info ul li i{ 
  display: inline-block; 
  width: 20px; 
  height: 20px; 
  line-height: 0;
  position: absolute;
  top: 2px;
  left: 0;
}

.top-head .head-info ul li::before{ 
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #d6d6d6;
}

.top-head .head-info ul li:last-child:before{ display: none; }

.top-head .head-info ul li:last-child{ padding-right: 0; margin-right: 0; }

.top-head .head-info ul li{ 
  position: relative; 
  padding-left: 25px; 
  margin-bottom: 0;
  margin-right: 18px;
  padding-right: 18px;
}

.top-head .head-info ul li span,
.top-head .head-info ul li a{ display: inline-block; color: #7a7a7a; font-size: 14px; }

.top-head .head-info ul li a:hover{ color: #ff0000;}

.gift-list ul{ list-style: none; padding-left: 0; display: flex; margin-bottom: 0; }

.gift-list ul li a{ display: inline-block; color: #7a7a7a; font-size: 14px; }

.gift-list ul li a:hover{ color: #ff0000; }

.gift-list ul li{ 
  position: relative; 
  margin-bottom: 0;
  margin-right: 18px;
  padding-right: 18px;
}

.gift-list ul li::before{ 
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: #d6d6d6;
}

.gift-list ul li:last-child:before{ display: none; }

.gift-list ul li:last-child{ padding-right: 0; margin-right: 0; }

.top-head .top-head-wrap{ display: flex; justify-content: space-between; }

.top-head{ padding: 10px 0; border-bottom: 1px solid #e5e5e5; }

.bottom-head{ position: relative; }

.bottom-head .navbar-brand{ 
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 176px;
}

.navbar-nav > li.menu-item-has-children{padding-right: 23px;}

.bottom-head  .navbar-nav{ margin: 0 auto 0 26%; }

.navbar-nav .clickD { 
  position: absolute;
  right: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  background: url(images/drop_arr1.svg) center center no-repeat; 
  cursor: pointer; 
  display: block;
  background-size: 14px;
  filter: brightness(0) invert(0);
 }

 .search-sec a{ display: inline-block; }

 .search-sec a i{ display: inline-block; width: 20px; height: 20px; line-height: 0; }

 .search-sec .form-input{ position: relative; }

.search-sec .form-input input[type="submit"]{ 
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  line-height: 0;
  border: none;
  background: url(images/loupe-white.svg) no-repeat center center #000;
  height: 100%;
  background-size: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-sec .form-input input[type="text"]{ 
  padding-right: 65px;
}

.search-form{ 
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0px 20px 51px 6px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 20px 51px 6px rgba(0,0,0,0.15);
  box-shadow: 0px 20px 51px 6px rgba(0,0,0,0.15);
  padding: 20px;
  z-index: 9;
  background: #fff;
}

.navbar{ padding: 50px 0; }

.shop-list ul{ padding-left: 0; list-style: none; display: flex; margin-bottom: 0; }

.shop-list ul li a,
.shop-list ul li a i,
.shop-list ul li a span{ display: inline-block; }

.shop-list ul li a i{ width: 17px; height: 17px; line-height: 0; }

.shop-list ul li{ margin-right: 25px; margin-bottom: 0; }

.shop-list ul li:last-child{ margin-right: 0; }

.shop-list ul li a{ position: relative; }

.shop-list ul li a span{ 
  position: absolute;
  top: -5px;
  right: -5px;
  width: 16px;
  height: 16px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 50%;
 }

 .banner-section > img{ width: 100%; }

 .banner-section{ position: relative; }

 .banner-section::before{ 
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 15%);
 }

 .banner-section .banner-cont{ 
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   transform: translateY(-50%);
   width: 100%;
   text-align: center;
 }

.banner-section .banner-wrap{ 
  max-width: 525px;
  margin: 0 auto;
  text-align: center;
}

.banner-section .banner-wrap h1{ color: #fff; text-transform: capitalize; margin-bottom: 51px; }

.banner-section .banner-wrap h1 span{ display: block; font-size: 14px; text-transform: uppercase; margin-bottom: 10px; }

.cmn-btn-white{ 
  background: #fff;
  padding: 16px 50px 16px 25px;
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
  position: relative;
  display: inline-block;
  transition: 0.5s ease-in-out;
}
 
.cmn-btn-white:hover::before{ 
 right: 15px;
 filter: brightness(0) invert(1);
}

.cmn-btn-white:hover{ background: #000; color: #fff; }

.cmn-btn-white::before{ 
  content: "";
  position: absolute;
  top: 49%;
  right: 20px;
  transform: translateY(-50%);
  background: url(images/right-arrow.svg) no-repeat center center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  transition: 0.5s ease-in-out;
}

.product-section .ourwork-tab ul li{ 
  border: none !important;
  position: relative; 
  margin-right: 50px;
  font-size: 18px;
  color: #696969;
  padding: 0 0 14px 0 !important;
  background: transparent !important;
}

.product-section .ourwork-tab ul li:last-child{ margin-right: 0; }

.product-section .ourwork-tab ul li::before{ 
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #2e2e2e;
  transition: 0.5s ease-in-out;
}

.product-section .ourwork-tab ul li:hover{ color: #000; }

.product-section .ourwork-tab ul li:hover::before,
.product-section .ourwork-tab ul li.resp-tab-active::before{ width: 100%; }

.product-section .ourwork-tab ul li.resp-tab-active{ color: #000; }
 
.product-section .ourwork-tab ul{ display: flex; justify-content: center; }

.product-section .resp-tab-content{ border: none; padding: 36px 15px; }

.product-card .product-image img{ width: 100%; }

.product-card .product-image{ position: relative; margin-bottom: 30px; }

.product-card .product-image a{ 
  display: inline-block; 
  background-size: 100% !important; 
  height: 295px; 
  width: 100%;
  transition: 1s ease-in-out;
}

.product-card .product-image a:hover{ background-size: 120% !important; }

.product-card .product-image span{ 
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #ff0000;
  background: #fff;
  width: 45px;
  height: 45px;
  padding: 5px;
  border-radius: 50%;
}

.product-card .product-cont{ text-align: center; }

.product-card .product-cont h4{ color: #2e2e2e; margin-bottom: 10px; }

.product-card .product-cont span { display: inline-block; color: #ff0000;  }

.product-card .product-cont span del{ color: #6f6f6f; }

.category-sec{ border-bottom: 2px solid #e5e5e5; padding-bottom: 96px; }

.category-sec h2{ margin-bottom: 50px; text-align: center; }

.category-sec .product-row{ margin-bottom: 80px; }

.product-section .product-sec-cont img{ width: 100%; }

.product-section .product-sec-cont{ position: relative; }

.product-section .product-sec-cont a{ 
  position: absolute;
  bottom: -37px;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
  padding: 20px 25px;
  font-weight: 500;
 }

 .product-section .product-sec-cont a::before{ display: none; }

 .product-section .product-sec-cont a:hover{ width: 100%; }

 .collection h2{ text-align: center; margin-bottom: 45px; }

 .collection .collection-image{ padding-left: 15px; padding-right: 15px; }

 .collection .collection-image img{ width: 100%; }

 .collection .slick-next {
  right: 16%;
  z-index: 9;
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.collection .slick-next::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  background: url(images/right-arrow.svg) no-repeat center center;
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.collection .slick-prev {
  left: 16%;
  z-index: 9;
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.collection .slick-prev::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  background: url(images/left-arrow.svg) no-repeat center center;
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.collection .collection-slider{ margin-bottom: 35px; }

.cmn-btn{ 
  display: inline-block;
  border: 2px solid #777777;
  padding: 13px 22px;
  text-transform: uppercase;
  color: #000;
}

.cmn-btn:hover{ background: #000; border-color: #000; color: #fff; }

.collection h3{ text-align: center; }

.collection{ border-bottom: 2px solid #e5e5e5; }

.chair-wrapper{ max-width: 1440px; margin-left: auto; margin-right: auto; padding: 0 78px; }

.chair-sec .chair-col img{ width: 100%; margin-bottom: 35px; }

.chair-sec .chair-col a{ padding: 5px; border-top: none; border-left: none; border-right: none; }

.chair-sec .chair-col:first-child{ margin-top: -90px; }

.chair-sec .chair-col:last-child{ margin-top: 90px; }

.chair-sec{ padding-top: 180px; padding-bottom: 190px; }

.video-sec .video-image{ 
  position: absolute;
  top: -170px;
  left: 0;
  margin-bottom: 56px; 
  max-width: 650px;
}

.video-sec .video-image a{ 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 45px;
  height: 45px;
  line-height: 0;
  background: #fff;
  border-radius: 50%;
  z-index: 2;
 }

 .video-sec .video-image a::before{ 
   content: "";
   position: absolute;
   top: 23px;
   left: 23px;
   width: calc( 100% + 30px );
   height: calc( 100% + 30px );
   background: rgb( 255, 255, 255, 50% );
   border-radius: 50%;
   z-index: -1;
   animation: pulse-border 2s ease-in-out infinite;
 }

 .video-sec .video-image a img{ width: 15px; height: 15px; }

 @keyframes pulse-border{
  
  0%{ 
   transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
   opacity: 1;
  }

  100% {
   transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
   opacity: 0;
  }
}

.video-sec{ background: #17314f; position: relative; }

.video-sec .video-image-cont{ max-width: 366px; padding-top: 270px; }
 
.video-sec .video-image-cont span{ display: block; color: #fff; font-size: 14px; margin-bottom: 10px; }

.video-sec .video-image-cont h2{ text-transform: capitalize; color: #fff; }

.video-sec .video-image-cont p{ color: #fff; }

.video-sec .video-image-cont a{ border-color: #fff; color: #fff; }

.video-sec .video-image-cont a:hover{ border-color: #000; }

.video-sec .video-col{ position: static; }

.video-cont .video-icon-sec span{ 
  display: inline-block;
  margin-bottom: 30px;
}

.video-cont .video-icon-sec span img{ height: 63px; }

.video-cont .video-icon-sec h4{ color: #fff; margin-bottom: 5px; font-weight: 700; }

.video-cont .video-icon-sec p{ color: #fff; }

.video-cont .video-icon-sec{ margin-bottom: 54px; }

.fooetr-sec .footer-top { padding: 36px 0; }

.fooetr-sec .footer-top .footer-top-wrap{ 
  display: flex;
  flex-wrap: wrap;
}

.fooetr-sec .footer-top .sign-up-cont{ width: 40%; position: relative; padding-left: 50px; }

.fooetr-sec .footer-top .sign-up-cont span{ 
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.fooetr-sec .footer-top{ border-bottom: 2px solid #e5e5e5; }

.fooetr-sec .footer-top .sign-up-cont h4{ font-weight: 600; margin-bottom: 10px; }

.fooetr-sec .footer-top .sign-up-cont p{ opacity: 0.7; }

.fooetr-sec .footer-top .sign-up-input{ width: 60%; }

.fooetr-sec  .form-wrap{ display: flex; flex-wrap: wrap; align-items: flex-end; }

.fooetr-sec  .form-wrap .form-input:first-child{ width: 69%; margin-right: 10px; }

.fooetr-sec  .form-wrap .form-input:last-child{ width: 29%; }

.fooetr-sec  .form-wrap .form-input input[type="email"],
.fooetr-sec  .form-wrap .form-input input[type="submit"]{ 
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.fooetr-sec  .form-wrap .form-input input[type="submit"]{ font-size: 14px; font-weight: 700; }

.fooetr-sec .footer-mid{ position: relative; border-bottom: 2px solid #e5e5e5; }

.fooetr-sec .footer-mid::before{ 
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url(images/footer-image.png) no-repeat center center;
  background-size: 100%;
  width: 419px;
  height: 316px;
}

.footer-mid .footer-mid-wrap{ display: flex; flex-wrap: wrap; margin-left: -15px; margin-right: -15px; }

.footer-mid .footer-mid-wrap .footer-mid-col{ width: 20%; padding-left: 15px; padding-right: 15px; }

.footer-mid .footer-mid-wrap .footer-mid-col h5{ color: #222222; text-transform: uppercase; }

.footer-mid .footer-mid-wrap .footer-mid-col ul{ list-style: none; padding-left: 0; margin-bottom: 0; }

.footer-mid .footer-mid-wrap .footer-mid-col ul li{ margin-bottom: 15px; }

.footer-mid .footer-mid-wrap .footer-mid-col ul li a{ 
  display: inline-block; 
  font-size: 13px;
  color: #6f6f6f;
}

.footer-mid .footer-mid-wrap .footer-mid-col ul li a:hover,
.footer-mid .footer-mid-wrap .footer-mid-col ul li.current-menu-item a{ color: #000; }

.footer-bottom{ padding: 30px 0; }

.footer-bottom .footer-bottom-row{ display: flex; align-items: center; justify-content: space-between; }

.footer-bottom .footer-bottom-row p{ margin-bottom: 0; }

.footer-bottom .footer-bottom-row span{ display: inline-block; }

.myModal{ padding: 20px; width: 30%; }

.myModal h3{ text-align: center; font-weight: 700; }

.myModal .form-col{ margin-bottom: 20px; }

.myModal .form-col:last-child{ margin-bottom: 0; }

.catagorry-sec .catagory-cont{ 
  background: #fff;
  box-shadow: 1px 1px 34px 4px rgba(0,0,0,0.05);
  -webkit-box-shadow: 1px 1px 34px 4px rgba(0,0,0,0.05);
  -moz-box-shadow: 1px 1px 34px 4px rgba(0,0,0,0.05);
  border-radius: 5px;
  margin-top: 82px;
}

.catagorry-sec .catagory-cont h3{ 
  text-align: center;
  background: #17314f; 
  padding: 10px;
  color: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: 0;
}

.catagorry-sec .catagory-cont ul{ padding-left: 0; list-style: none; }

.catagorry-sec .catagory-cont ul li a{ 
  display: block;
  width: 100%;
  padding: 10px;
  background: #efefef;
  color: #17314f;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}

.catagorry-sec .catagory-cont ul li a:hover{ background: #17314f; color: #fff; }

.catagorry-sec .catagory-cont ul li{ margin-bottom: 10px; }

.catagorry-sec .catagory-cont ul li:last-child{ margin-bottom: 0; }

.catagorry-sec .catagory-cont ul li:last-child a{ border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }

.catagory-form .form-wrap{ display: flex; flex-wrap: wrap; margin-left: -15px; margin-right: -15px; align-items: center;}

.catagory-form .form-wrap .input-form:first-child{ width: 60%; padding-left: 15px; padding-right: 15px; }

.catagory-form .form-wrap .input-form:last-child{ width: 40%; padding-left: 15px; padding-right: 15px; }

.catagory-form .form-section{ max-width: 50%; margin-left: auto; }

.catagory-form{ margin-bottom: 30px; }

.catagorry-listing .product-card .product-image a{ height: 200px; }

.catagorry-listing .product-card .product-image span{ 
  width: 35px;
  height: 35px;
  font-size: 12px;
}

.catagorry-listing .product-card .product-image{ margin-bottom: 20px; }

.catagorry-listing .product-card .product-cont span{ margin-bottom: 15px; display: block; }

.catagorry-listing .product-card .product-cont .cmn-btn{ padding: 10px 15px; font-size: 12px; }

.catagorry-listing .product-col{ margin-bottom: 30px; }

.catagorry-listing .product-row { margin-bottom: -30px; }


.banner-section h1{ color: #fff; font-weight: 700; }

.contact-sec .contact-list ul{ padding-left: 0; list-style: none; }

.contact-sec .contact-list ul li{ position: relative; line-height: 1.8; padding-left: 57px; margin-bottom: 20px; }

.contact-sec .contact-list ul li i{ 
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background: #000;
  border-radius: 50%;
 }

 .contact-sec .contact-list ul li i img{ width: 20px; height: 20px; filter: brightness(0) invert(1); }

 .contact-sec .contact-list ul li span,
 .contact-sec .contact-list ul li a{ color: #000; display: inline-block; }

 .contact-sec .contact-list ul li a:hover{ color: #ff0000; }

 .contact-sec h2{ margin-bottom: 50px; font-weight: 600; }

 .cotact-form .contact-form-row .contact-form-col{ margin-bottom: 20px; }

 .cotact-form .contact-form-row .contact-form-col:last-child{ margin-bottom: 0; }

 .cotact-form{ 
  box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.14);
  -webkit-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 0px 19px 4px rgba(0,0,0,0.14);
  padding: 25px;
  background: #fff;
 }

 .container-space {
  margin-top: 2rem;
}
.product-thumbnails {
  display: flex;
  margin-top: 2rem;
}
.product-thumbnails > ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.product-thumbnails > li {
  margin-right: 10px;
}
.product-thumbnails > ul > li > img {
  width: 100px;
  cursor: pointer;
}
.thumbnail-active {
  border: 2px solid #000;
}
.nav-link > img {
  width: 40px;
  border-radius: 8px;
  margin-right: 10px;
}
.btn-custom-color {
  border: 2px solid #000;
  color: #000;
  outline: none;
  box-shadow: none;
}
.btn-custom-color:hover {
  border: 2px solid #000;
  background-color: #000;
  color: #ffffff;
  outline: none;
  box-shadow: none;
}

.product-img{ width: 100%; }

.product-sec .product-row{ 
  margin-bottom: 30px;
}

.related-products .product-card .product-cont { margin-bottom: 20px; }

.related-products .product-card .cmn-btn{ font-size: 15px; padding: 9px 20px; }

.related-products .product-col{ margin-bottom: 30px; }

.related-products .product-row{ margin-bottom: -30px; }

.landing-page{ position: relative; }

.landing-page img{ width: 100%; object-fit: cover; object-position: center; height: 100vh; }

.myModal .form-row{ margin-bottom: 20px; }

.myModal .fancybox{ color: #000; }

.myModal .fancybox:hover{ color: #ff0000 !important; }

@media(min-width:1025px){

/* navbar*/
/* .clickD{display: none;} */
.navbar-nav  li.menu-item-has-children:hover > .sub-menu{ display: block; }

}



@media (max-width: 1199px) {

  .bottom-head .navbar-nav { margin: 0 auto 0 17%; }

  .myModal{ width: 50%; }
  
 }


 @media(max-width:1024px)
 {
 /* navbar*/
 .navbar-nav > li.menu-item-has-children{padding-right: 20px;}
.sub-menu.show{
  display: block;
}

 }
 


@media (max-width: 991px) {
  .navbar-toggler{ 
    order: 2; 
    padding: 0;
    border: none;
  }

  .navbar-toggler:focus{ outline: none; }

  .shop-list{ margin-left: auto; margin-right: 25px; }

  .ourwork-tab ul{ display: none !important; }

  .ourwork-tab .resp-accordion{ font-size: 20px; background: transparent !important; border: none !important; }

  .product-section .product-col{ margin-bottom: 30px; }

  .product-section.product-col:last-child{ margin-bottom: 0; }

  .product-card .product-image{ margin-bottom: 10px; }

  .category-sec .product-row {
    margin-bottom: 40px;
}

.navbar-nav > li,
.bottom-head .navbar-nav{ margin: 0 !important; }

.bottom-head  .navbar-collapse { 
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background: #000;
  z-index: 9;
  padding: 10px;
}

.navbar-nav > li > a{ color: #fff; line-height: 1.2; }

.navbar-nav > li{ line-height: 0; margin-bottom: 15px; margin-bottom: 15px !important; }

.navbar-nav > li:last-child{ margin-bottom: 0 !important; }

.navbar-nav .clickD{ filter: brightness(0) invert(1); width: 15px; height: 15px; }

.sub-menu > li > a{ line-height: 1; }

.sub-menu{ position: static; width: 100%; }

.navbar-nav > li.menu-item-has-children{ padding-right: 0; }

.banner-section .banner-wrap h1{ font-size: 35px; margin-bottom: 25px; }

.cmn-gap {
  padding-top: 45px;
  padding-bottom: 45px;
}

.cmn-gap-top{ padding-top: 45px; }

.cmn-gap-bottom{ padding-bottom: 45px; }

.product-section .resp-tab-content{ padding: 15px; }

.category-sec h2{ margin-bottom: 30px; font-size: 30px; }

.product-section .product-sec-col { margin-bottom: 65px; }

.product-section .product-sec-col:last-child{ margin-bottom: 50px; }

.product-section .product-sec-cont a{ 
  font-size: 20px;
  padding: 14px 20px;
  bottom: -27px;
}

.collection h3{ font-size: 25px; }

.cmn-btn{ 
  padding: 10px 20px;
  font-size: 14px;
}

.chair-sec .chair-col img{ margin-bottom: 25px; }

.chair-sec .chair-col h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.chair-sec .chair-col:first-child,
.chair-sec .chair-col:last-child{ margin-top: 0; }

.chair-wrapper{ max-width: 720px; padding-left: 15px; padding-right: 15px; }

.chair-sec .chair-col:first-child{ margin-bottom: 30px; }

.video-sec .video-image{ position: relative; top: inherit; }

.video-sec .video-image-cont{ padding-top: 0; max-width: 100%; margin-bottom: 30px; }

.video-cont .video-icon-sec {
  margin-bottom: 20px;
}

.fooetr-sec .footer-top .sign-up-cont,
.fooetr-sec .footer-top .sign-up-input{ width: 100%; }

.fooetr-sec .footer-top .sign-up-cont{ margin-bottom: 30px; }

.fooetr-sec .form-wrap .form-input:first-child{ width: 82%; }

.fooetr-sec .form-wrap .form-input:last-child{ width: 15%; }

.footer-mid .footer-mid-wrap .footer-mid-col {
  width: 25.33%;
}

.fooetr-sec .footer-mid::before{ 
  width: 210px;
  height: 160px;
 }

 .footer-bottom .footer-bottom-row p{ font-size: 14px; }

 #myVideo{ padding: 30px;}

 .video-image img{ width: 100%; }

 .video-sec .video-image{ max-width: 100%; }

 .catagorry-listing .product-card .product-image a { height: 255px; }

 .catagorry-listing .product-card .product-image a:hover{ background-size: 100% !important; }

 .catagorry-sec .catagory-row .catagory-col:first-child{ margin-bottom: 30px; }

 .catagorry-sec .catagory-cont{ margin-top: 0; }

 .contact-sec .contact-col{ margin-bottom: 30px; }

 .contact-sec .contact-col:last-child{ margin-bottom: 0; }

 .contact-sec h2{ margin-bottom: 25px; }

 .banner-section h1{ font-size: 40px; }

 .myModal { width: 75%; }

}


@media (max-width: 767px) {

/* images alignment for wordpress content pages */
.alignright,.alignleft,.aligncenter { float: none; clear: both;display: block; margin-left: auto; margin-right: auto; 
	margin: 0 0 22px 0; max-width: 100%;}
	
/* navbar*/
.navbar-nav .clickD{
  top: 6px;
  right: 10px;
}
.sub-menu, .navbar-nav > li > .sub-menu .sub-menu{
  position: relative; width: 100%; 
  left: inherit; top: inherit;
  border: none;
}
.navbar-nav > li.menu-item-has-children{padding-right: 0;}
.navbar-nav > li{
  margin: 0;
  padding: 0;
}
.navbar-nav > li > a{
  padding: 6px 10px;
  display: inline-block;
  width: 100%;
}
.sub-menu > li > a{padding-left: 20px;}
.sub-menu .sub-menu > li > a{padding-left: 40px;}
.sub-menu .sub-menu .sub-menu > li > a{padding-left: 60px;}


.navbar {
  padding: 30px 0;
}

.top-head .top-head-wrap{ 
  flex-wrap: wrap;
  justify-content: center;
}

.top-head .head-info { margin-bottom: 15px; }

.top-head .head-info ul li::before{ display: none; }

.top-head .head-info ul li{ padding-right: 0; }

.gift-list ul li{ padding-right: 0; }

.gift-list ul li::before{ display: none; }

.category-sec .product-col{ margin-bottom: 30px; }

.category-sec .product-col:last-child{ margin-bottom: 0; }

.product-section .product-sec-cont a{ bottom: 0; }

.product-section .product-sec-col {
  margin-bottom: 40px;
}

.product-section .product-sec-col:last-child{ margin-bottom: 0; }

.fooetr-sec .form-wrap .form-input:first-child{ width: 100%; margin-right: 0; margin-bottom: 20px; }

.footer-mid .footer-mid-wrap .footer-mid-col{ width: 50%; }

.footer-mid .footer-mid-wrap .footer-mid-col{ margin-bottom: 40px; }

.fooetr-sec .footer-mid::before{ top: auto; bottom: 0; transform: inherit; }

.footer-bottom .footer-bottom-row{ flex-wrap: wrap; }

.footer-bottom .footer-bottom-row p{ width: 100%; text-align: center; margin-bottom: 20px; }

.footer-bottom {
  padding: 20px 0;
}

.footer-bottom .footer-bottom-row span{ width: 100%; text-align: center; }

.fooetr-sec .footer-top .sign-up-cont h4{ font-size: 18px; }

.fooetr-sec .footer-top .sign-up-cont p{ font-size: 15px; }

.fooetr-sec .footer-top .sign-up-cont span{ width: 30px; height: 30px; }

.fooetr-sec .footer-top .sign-up-cont{ padding-left: 40px; }

.myModal {
  width: 95%;
}

.banner-section > img{ 
  height: 360px;
  object-fit: cover;
  object-position: center;
}

#myVideo iframe{ width: 100%; height: 197px; }

.video-sec .video-image{ margin-bottom: 30px; }

.cmn-btn-white{  padding: 13px 47px 13px 18px; }

.catagorry-sec .form-section{ max-width: 100%; }

.catagorry-listing .product-card .product-image a { height: 350px; }

h3 { font-size: 23px; }

.bottom-head .navbar-brand{ width: 130px; }

.contact-sec h2{ font-size: 30px; }

.banner-section h1 {
  font-size: 35px;
}

.product-card .product-image a{ height: 345px; }

.product-card .product-image a:hover{ background-size: 100% !important; }

.container-space{ margin-top: 0; }

}

@media(max-width:479px){ 
  .footer-mid .footer-mid-wrap .footer-mid-col {
    width: 100%;
}

.footer-mid .footer-mid-wrap .footer-mid-col h5{ margin-bottom: 10px; }

.footer-mid .footer-mid-wrap .footer-mid-col ul li {
  margin-bottom: 5px;
}

.footer-mid .footer-mid-wrap .footer-mid-col {
  margin-bottom: 20px;
}

.video-sec .video-image-cont h2{ font-size: 24px; margin-bottom: 10px; }

.collection .collection-image img{ height: 300px; object-fit: cover; object-position: center; }

.top-head .head-info ul li i{ width: 14px; height: 14px; top: 6px; }

.top-head .head-info ul li{ padding-left: 18px; }

.top-head .head-info ul{ flex-wrap: wrap; justify-content: center; }

.top-head .head-info ul li:first-child{ margin-bottom: 10px; }

.shop-list{ margin-right: 15px; }

.search-sec a i{ 
  width: 15px;
  height: 15px;
}

.search-sec a{ 
  position: absolute;
  top: 50%;
  right: 51%;
  transform: translateY(-50%);
 }

 .bottom-head .navbar-brand{ 
   position: static;
   margin: 0;
   transform: inherit;
 }

 .shop-list ul li a i{ width: 15px; height: 15px; }

 input[type="text"], 
 input[type="tel"], 
 input[type="password"], 
 input[type="email"], 
 select{ height: 44px; padding: 0 16px; font-size:12px; }

 textarea{ height: 100px; font-size: 12px; }

 .shop-list ul li {
  margin-right: 20px;
}

.search-sec .form-input input[type="submit"]{ background-size: 20px; }

.bottom-head .navbar-collapse{ width: 100%; }

.banner-section .banner-wrap h1 {
  font-size: 28px;
  margin-bottom: 19px;
}

.banner-section > img{ height: 295px; }

.product-card .product-image a{ height: 229px; }

.catagory-form .form-wrap .input-form:first-child{ width: 100%; margin-bottom: 20px; }

.catagory-form .form-wrap .input-form:last-child{ width: 100%; }

.bottom-head .navbar-brand { width: 105px; }

.navbar { padding: 10px 0; }

.contact-sec .contact-list ul li i img{ width: 17px; height: 17px }

.contact-sec .contact-list ul li{ line-height: 1.2; }

.cotact-form{ padding: 20px; }

.myModal .fancybox{ font-size: 15px; }

}






